Sorting/obj/*
Sorting/Debug/*
Sorting/bin/*
Recursion/bin/Debug/net8.0/Recursion
Recursion/bin/Debug/net8.0/Recursion.deps.json
Recursion/bin/Debug/net8.0/Recursion.dll
Recursion/bin/Debug/net8.0/Recursion.pdb
Recursion/bin/Debug/net8.0/Recursion.runtimeconfig.json
Recursion/obj/Debug/net8.0/apphost
Recursion/obj/Debug/net8.0/Recursion.AssemblyInfo.cs
Recursion/obj/Debug/net8.0/Recursion.AssemblyInfoInputs.cache
Recursion/obj/Debug/net8.0/Recursion.csproj.CoreCompileInputs.cache
Recursion/obj/Debug/net8.0/Recursion.csproj.FileListAbsolute.txt
Recursion/obj/Debug/net8.0/Recursion.dll
Recursion/obj/Debug/net8.0/Recursion.genruntimeconfig.cache
Recursion/obj/Debug/net8.0/Recursion.pdb
Recursion/obj/Debug/net8.0/Recursion.sourcelink.json
Recursion/obj/Debug/net8.0/ref/Recursion.dll
Recursion/obj/Debug/net8.0/refint/Recursion.dll
Trees/bin/Debug/net8.0/Trees.dll
Trees/bin/Debug/net8.0/Trees.pdb
Trees/obj/Debug/net8.0/Trees.AssemblyInfo.cs
Trees/obj/Debug/net8.0/Trees.AssemblyInfoInputs.cache
Trees/obj/Debug/net8.0/Trees.csproj.CoreCompileInputs.cache
Trees/obj/Debug/net8.0/Trees.dll
Trees/obj/Debug/net8.0/Trees.pdb
Trees/obj/Debug/net8.0/Trees.sourcelink.json
Trees/obj/Debug/net8.0/ref/Trees.dll
Trees/obj/Debug/net8.0/refint/Trees.dll
Recursion/obj/Debug/net8.0/Recursion.AssemblyInfo.cs
Recursion/obj/Debug/net8.0/Recursion.AssemblyInfo.cs
Recursion/obj/Debug/net8.0/Recursion.AssemblyInfoInputs.cache
Trees/bin/Debug/net8.0/Trees.dll
Trees/bin/Debug/net8.0/Trees.pdb
Trees/obj/Debug/net8.0/Trees.AssemblyInfo.cs
Trees/obj/Debug/net8.0/Trees.AssemblyInfoInputs.cache
Trees/obj/Debug/net8.0/Trees.csproj.CoreCompileInputs.cache
Trees/obj/Debug/net8.0/Trees.dll
Trees/obj/Debug/net8.0/Trees.pdb
Trees/obj/Debug/net8.0/Trees.sourcelink.json
Trees/obj/Debug/net8.0/ref/Trees.dll
Trees/obj/Debug/net8.0/refint/Trees.dll
